<% layout('/layouts/boilerplate') %>
<!-- content change karne k liye ye uppar wala code lihk te hai  -->
<!-- <% %> ->'Scriptlet' tag, for control-flow, no output -->
<!-- Control Flow: Inside the <% %> tags, you can write JavaScript code to perform various control-flow       operations, such as conditionals (if, else, else if), loops (for, while), and other logic.

No Output: Unlike <%= %> and <%- %>, the code inside <% %> tags doesn't directly output anything into the template. It's used purely for executing JavaScript logic. -->

<!-- https://ejs.co/ -->


<div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-3" role="alert">
        <p class="alert-heading"><%= message %></p>
    </div>
</div>